<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>charmQ</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/modal.css"> <!-- Link to new CSS file -->
</head>
<body>
<header>
    <a href="/api/v1/home" class="logo-container">
        <img src="/images/quiz_logo_heart_icon.svg" alt="Logo" class="logo-image">
        <div class="logo-text">charmQ</div>
    </a>
    <nav>
        <a href="/api/v1/home">Home</a>
        <a href="/api/v1/quizzes">Quizzes</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
    </nav>
</header>

<div class="content">
    <aside>
        <ul>
            <li><a href="/api/v1/home">Home</a></li>
            <li><a href="/api/v1/quizzes">Quizzes</a></li>
            <li><a href="#">Read more</a></li>
        </ul>
    </aside>
    <main>
        <div class="quiz-score-container">
            <p>Wynik testu</p>
            <p><span class="quiz-score" th:text="${result.result}"></span></p>
            <div class="quiz-image-container">
                <img th:src="${quiz.image}" alt="Quiz Result Image" class="quiz-image">
            </div>
            <h2 th:text="'Uzyskane punkty: '+ ${result.score}">Wynik</h2>
            <p th:text="${result.description}">Opis wyniku</p>
            <div class="button-container">
                <a href="/api/v1/quizzes"><button class="start-quiz-button">Rozwiąż kolejny QUIZ</button></a>
                <button id="openDrawerButton" class="send-result-button">Wyślij mój wynik!</button>
            </div>
        </div>
    </main>
</div>

<!-- Modal -->
<div class="modal" id="emailModal">
    <div class="modal-content">
        <span class="modal-close" id="closeModal">&times;</span>
        <h2>Wyślij mój wynik e-mailem!</h2>
        <form id="emailForm">
            <div class="form-row">
                <div class="form-group">
                    <label for="name">Name*</label>
                    <input type="text" id="name" name="name" placeholder="Your name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" id="email" name="userEmail" placeholder="Your email" required>
                </div>
            </div>
            <button type="submit" class="submit-btn">Send Message</button>
        </form>
    </div>
</div>


<footer>
    <div class="quick-links">
        <a href="/api/v1/home">Home</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="social-links">
        <span>Connect with us:</span>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100006842311562"><img src="/images/social-media-icons/facebook_logo_icon.svg" alt="Facebook"></a>
            <a href="https://x.com/AFijalkowska1"><img src="/images/social-media-icons/x_logo_icon.svg" alt="Twitter"></a>
            <a href="https://www.instagram.com/anka_fij/"><img src="/images/social-media-icons/instagram_logo_icon.svg" alt="Instagram"></a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#openDrawerButton').click(function() {
            $('#emailModal').css('display', 'block');
        });

        $('#closeModal').click(function() {
            $('#emailModal').css('display', 'none');
        });

        $(window).click(function(event) {
            if (event.target.id === 'emailModal') {
                $('#emailModal').css('display', 'none');
            }
        });

        $('#emailForm').submit(function(e) {
            e.preventDefault(); // Prevent default form submission

            var name = $('#name').val();
            var userEmail = $('#email').val();

            $.ajax({
                url: '/api/v1/quizzes/sendResultEmail',
                type: 'POST',
                data: { name: name, userEmail: userEmail },
                success: function(response) {
                    alert('Email został wysłany pomyślnie!');
                    $('#emailModal').css('display', 'none');
                },
                error: function() {
                    alert('Wystąpił błąd podczas wysyłania emaila.');
                }
            });
        });
    });
</script>

</body>
</html>
